.text-success{
    color: #00976f !important;
}
.border-success {
    border-color: #00976f!important;
}
.border-primary {
    border-color: #6FB6F3!important;
}
.bg-success, .badge-success{
    background-color:#006a4e !important;
}
.bg-primary, .badge-primary{
background-color: #6FB6F3 !important;
}
.badge-pink{
background-color: #FF8181 !important;
}

.navbar-custom {
    background-color: #fff;
    left: 268px;
    right: 25px;
    border-radius: 20px;
}
.navbar-custom .topnav-menu .nav-link{
    color: #000;
}
.navbar-custom .app-search .form-control{
    background-color: #f6f9fd;
}

.navbar-custom .app-search .btn {
    background-color: #f6f9fd;
    color: #000;
}
.logo-box{
    background-color: #fff;
    position: fixed;
}

.notification{
    padding: 13px 20px;
}
.logo-box{
    width: 350px;
}
.logo-box .logo-lg img{
    width: 85%;
}
.left-side-menu{
    width: 350px;
}
.metismenu .menu-title{
    font-size: 20px !important;
}
.notification{
    font-size: 16px !important;
}
.fa-square{
    color: #006A4E;
}
.title .name{
    font-size: 16px !important;
}
.navbar-custom {
    left: 370px;
}
.content-page {
    margin-left: 350px;
}
#sidebar-menu>ul>li>a{
    padding: 0;
    color:#fff;
}
#sidebar-menu>ul>li>a i{
    background-color: #31A0FF;
    padding: 15px 0px;
    border-right: 1px solid #31A0FF;
    color: #fff;
    height: 45px;
    width: 45px;
}
#sidebar-menu>ul>li:hover i{
    color:#fff;
    background-color: #006A4E !important;
    border-right: #006A4E !important;
}
#sidebar-menu>ul>li:hover {
    color:#fff;
    background-color: #00976f !important;
    border-color:#00976f !important;
}

.enlarged .left-side-menu #sidebar-menu>ul>li{
    border: none !important;
    border-radius: 0px !important;
    background-color: #fff !important;
    margin: 0 !important;
}
.enlarged .left-side-menu #sidebar-menu>ul>li>a{
    padding: 8px 10px;
}
.notification-list .noti-icon-badge{
    right: 1px;
}
.progressbar-content .progress{
    background-color:#bebebf;
}
.progressbar-content .progress-bar{
    background-color:#fff;
}
.progressbar-card .card-body{
    background: url(../images/rms/card-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 30%;
}
.g-2-g-bg{
    background-color: #0089ff;
}
.indent-bg{
    background-color: #006a4e;
}
.priority-bg{
    background-color: #805f4c;
}
.local-bg{
    background-color: #071c75;;
}

.procurement-graph .card-body{
    padding: .5rem;
}

.procurement-graph .card-header:first-child {
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
}
.rounded-card{
    border-radius: 20px !important;
}
.rounded-card .card-header{
    padding: .5rem 1rem;
} 

h5.card-title{
    font-size: 20px !important;
}

.footer{
    left: 350px;
}



/* Responsive */
@media (min-width: 1367px){
    .logo-box{
        width: 350px;
    }
    .left-side-menu{
        width: 350px;
    }
    .navbar-custom {
        left: 370px;
    }
    .content-page {
        margin-left: 350px;
    }
}
@media (max-width: 1028px){
    .navbar-custom {
        left: 95px;
        border-radius: 0px;
        right:0;
    }
}

@media only screen and (max-width : 767px){
    
.navbar-custom {
    left: 0px;
}

}