.rounded-card{
    border-radius: 20px !important;
}
.rounded-card .card-header{
    padding: .5rem 1rem;
} 
.progressbar-content .nav-link{
    color:#fff;
    padding: .25rem .5rem;
}
.progressbar-content .progress-md {
    margin-bottom: 1.3rem;
}

.division-bg{
    background-color: #0089ff;
}
.district-bg{
    background-color: #006a4e;
}
.upozilla-bg{
    background-color: #805f4c;
}
.union-bg{
    background-color: #071c75;;
}